@import url("../style/header.css");

:root{
    --cor-de-fundo:#ebecee;
     --branco:#FFFFFF;
     --amarelo:#FECD27;
     --fone-principal:"poppins";
     --roxo:#733887;

}
body{
      background-color:var(--cor-de-fundo);
      font-family: var(--fone-principal);
      font-size: 16px;
      font-weight: 400;

}
h1{
    background-color: white;
}

